.title {
    font-family: $calsans;
    font-weight: $SemiBold;
    color: $black1;
    font-size: rem(44);
    line-height: 1.2;
    text-align: center;

    span {
        color: $orange1;
    }
}

@media (max-width: $mobileLarge) {
    .title {
        font-size: rem(38);
    }
}
