//========================= FONTS =========================//

// COLORS (MAIN)
$white: #ffffff;
$black: #000000;
$red: #ff0000;
$blue: #0000ff;
$green: #008000;
$yellow: #ffff00;
$grey: #808080;
$orange: #ffa500;
$pink: #ffc0cb;

// COLORS (PROJECT)
$grey1: #666666;
$grey2: #868686;
$grey3: #c4c4c4;
$grey4: #eeeeee;
$white1: #ffffff80;
$black1: #121212;
$black2:#12121266;
$black3: #262626;
$orange1: #ff6428;
$orange2: #ba4619;



// WEIGHTS
$Thin: 100;
$ThinLight: 200;
$Light: 300;
$Regular: 400;
$Medium: 500;
$SemiBold: 600;
$Bold: 700;
$ExtraBold: 800;
$Black: 900;

// FONTS
$poppins: "Poppins", sans-serif;
$calsans: "Cal Sans", sans-serif;

//========================= CONTAINER =========================//

[class*="__container"] {
    max-width: rem(1230);
    padding: rem(0) rem(15);
    margin: 0px auto;
}

//========================= BREAKPOINTS =========================//
$pc: em(1092); // PC
$tablet: em(991.98); // Tablet
$mobileLarge: em(767.98); // Mobile Large
$mobileSmall: em(479.98); // Mobile Small

//========================= IBG =========================//
._ibg {
    position: relative;
}

._ibg img {
    object-fit: cover;
    object-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
