$grey1: #666666;
$grey2: #868686;
$grey3: #c4c4c4;
$grey4: #eeeeee;
$white1: #ffffff80;
$black1: #121212;
$black2:#12121266;
$black3: #262626;
$orange1: #ff6428;
$orange2: #ba4619;

$Thin: 100;
$ThinLight: 200;
$Light: 300;
$Regular: 400;
$Medium: 500;
$SemiBold: 600;
$Bold: 700;
$ExtraBold: 800;
$Black: 900;

$poppins: "Poppins", sans-serif;
$calsans: "Cal Sans", sans-serif;

[class*="__container"] {
    max-width: rem(1230);
    padding: rem(0) rem(15);
    margin: 0px auto;
}

$pc: em(1092);
$tablet: em(991.98);
$mobileLarge: em(767.98);
$mobileSmall: em(479.98);

._ibg {
    position: relative;
}

._ibg img {
    object-fit: cover;
    object-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
