//========================= HEADER =========================//
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;

    // .header__container
    &__container {
        display: flex;
        gap: rem(131);
        align-items: center;
        min-height: rem(152);
        padding-top: rem(5);
        padding-bottom: rem(5);
    }

    // .header__logo
    &__logo {
    }

    // .header__menu
    &__menu {
    }
}
.menu {
    padding: rem(10) rem(15) rem(10) rem(0);
    border-radius: rem(5);
    background-color: $white1;

    // .menu__list
    &__list {
        display: flex;
        flex-wrap: wrap;
        column-gap: rem(56);
        row-gap: rem(10);
    }

    // .menu__item
    &__item {
    }

    // .menu__link
    &__link {
        color: $black2;
        font-weight: $Regular;

        &:hover {
            text-decoration: underline;
        }
    }
}

//========================= HEADER (BREAKPOINS) =========================//

@media (max-width: $pc) {
    .header__container {
        gap: rem(50);
        min-height: rem(100);
    }

    .menu__list {
        column-gap: rem(40);
    }
}

@media (max-width: $mobileLarge) {
    .header__container {
        min-height: rem(65);
    }
}

@media (max-width: $mobileSmall) {
    .header__container {
        gap: rem(15);
    }
    .header__logo {
        width: rem(28);
        flex: 0 0 rem(28);
        overflow: hidden;
    }
    .menu {
        padding: rem(0);
    }
    .menu__list {
        column-gap: rem(20);
    }
}
