//========================= MAIN =========================//

@import "_main_mainblock";
@import "_main_store";
@import "_main_categories";
@import "_main_brands";
@import "_main_why";
@import "_main_reviews";
@import "_main_favorite";