.main {
    padding-bottom: rem(80);

    &__container {
        display: flex;
    }

    &__content {
        flex: 0 1 50%;
        align-self: flex-end;
        padding-top: rem(120);
        padding-bottom: rem(60);
        padding-right: rem(20);
    }

    &__title {
        font-family: $calsans;
        font-weight: $SemiBold;
        color: $black1;
        font-size: rem(56);
        line-height: 1.2;

        span {
            color: $orange1;
        }

        &:not(:last-child) {
            margin-bottom: rem(16);
        }
    }

    &__text {
        line-height: 1.5;
        font-weight: $Medium;
        max-width: rem(420);

        &:not(:last-child) {
            margin-bottom: rem(31);
        }
    }

    &__decor {
        flex: 0 1 50%;
    }

    &__image {
        margin-right: rem(-135);
        position: relative;
        padding-bottom: 97.6%;
        max-width: rem(672);

        img {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
            border-radius: rem(0) rem(0) rem(160) rem(375);
        }

        &::after {
            content: "";
            background: url("../img/main/mainblock/02.svg");
            width: rem(80);
            height: rem(80);
            bottom: 0;
            transform: translate(0, 50%);
            position: absolute;
            right: 36.3%;
        }
    }
}
.actions-main {
    display: flex;
    align-items: center;

    &__button {
        text-align: center;
        padding: rem(18.5) rem(45);
        background-color: $orange1;
        border-radius: rem(40);
        font-weight: $SemiBold;
        color: $white;
        line-height: 1.75;
        transition: background-color 0.3s ease 0s;

        &:hover {
            background-color: $orange2;
        }

        &:not(:last-child) {
            margin-right: rem(40);
        }
    }

    &__icon {
        &:not(:last-child) {
            margin-right: rem(27);
        }
    }
}

@media (max-width: $pc) {
    .main__content {
        flex: 0 0 60%;
        padding-bottom: rem(0);
    }

    .main__decor {
        flex: 0 0 40%;
    }

    .main__image {
        img {
            width: 100%;
        }
    }
}

@media (max-width: $tablet) {
    .main {
        padding-bottom: rem(50);
    }
}

@media (max-width: $mobileLarge) {
    .main {
        padding-bottom: rem(30);
    }
    .main__decor {
        display: none;
    }
    .main__content {
        flex: 1 1 100%;
        padding-right: rem(0);
        padding-top: rem(80);
    }

    .main__title {
        font-size: rem(44);
    }
}

@media (max-width: $mobileSmall) {
    .actions-main {
        flex-wrap: wrap;
        justify-content: center;
    }
    .actions-main__button {
        flex: 1 1 100%;
        &:not(:last-child) {
            margin-right: rem(0);
            margin-bottom: rem(15);
        }
    }
}
