//========================= MAIN_FAVORITE =========================//

.favorite {
    padding-bottom: rem(120);

    // .favorite__container
    &__container {
        display: flex;
        align-items: center;
    }

    // .favorite__body
    &__body {
        flex: 0 1 50%;
        padding-right: rem(20);
    }

    // .favorite__title
    &__title{
        text-align: left;
        font-size: rem(48);
        line-height: 1.4;
        
        &:not(:last-child) {
            margin-bottom: rem(60);
        }
    }

    // .favorite__apps
    &__apps {
    }

    // .favorite__images
    &__images {
        flex: 0 1 50%;
        text-align: center;

        img {
            max-width: 100%;
        }
    }
}

.apps-favorite {
    display: flex;
    gap: rem(25);

    // .apps-favorite__item
    &__item {
        max-width: 100%;
    }
}

//========================= MAIN_FAVORITE (BREAKPOINTS) =========================//

@media (max-width: $tablet){
    .favorite{
        padding-bottom: rem(50);
    }
    .favorite__container {
        flex-direction: column;
    }
    
    .favorite__title{
        font-size: rem(38);

        &:not(:last-child){
            margin-bottom: rem(25);
        }
    }
}

@media (max-width: $mobileLarge){
    .favorite{
        padding-bottom: rem(30);
    }
}