.brands {
    padding-top: rem(110);
    padding-bottom: rem(180);

    // .brands__title
    &__title {
        margin-bottom: rem(75);
    }

    &__items {
        max-width: rem(1020);
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, auto);
        justify-content: space-between;
        align-items: center;
        column-gap: rem(20);
        row-gap: rem(80);
    }

    &__item {
        img {
            max-width: 100%;
        }
    }
}

@media (max-width: $tablet) {
    .brands {
        padding-top: rem(50);
        padding-bottom: rem(50);
    }
    .brands__title {
        margin-bottom: rem(40);
    }
    .brands__items {
        grid-template-columns: repeat(3,auto);
        row-gap: rem(50);
    }
}

@media (max-width: $mobileLarge) {
    .brands {
        padding-top: rem(30);
        padding-bottom: rem(30);
    }
    .brands__title {
        margin-bottom: rem(20);
    }
}

@media (max-width: rem(600)) {
    .brands__items {
        justify-content: center;
        grid-template-columns: repeat(2,auto);
        row-gap: rem(20);
    }
}
